<div class="main-app block">
    <h1>
        ${input.heading.h1}
    </h1>
    <div class="pagination">
        <pagination />
        <sort-select />
    </div>
    <div class="listing-items">
        <listing-item dataProducts=input.products/>
    </div>
    <div class="pagination">
        <pagination />
        <sort-select />
    </div>
    <div class="main-text">
        <page-text dataText=input.text/>
    </div>
</div>