.main-app {
    width: 850px;
    margin-left: 20px;
}
h1 {
    color: #333333;
    font-weight: 700;
    font-size: 1.375rem;
    margin: 0 0 25px;
    padding: 0;
    line-height: 26px;
}
.listing-items {
    display: flex;
    flex-direction: column;
}
.main-text {
    width: 565px;
    color: #4F4F4F;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 126.3%;
    margin-top: 24px;
    p {
        margin: 0 0 8px; 
    }
    p:last-child {
        margin-bottom: 0px;
    }
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    height: 35px;
}