<div class="sort">
    <label for="select">Sort by</label>
    <select class="custom-select" id="select">
        <option>Sort options</option>
        <option>With options</option>
    </select>
</div>