.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 100px;
    margin: 0px auto 20px;
    padding-left: 16px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 1.125rem;
}