<header-app />
<navbar items=input.nav/>  
<breadcrumbs items=input.breadcrumbs/>
<div class="wrapper wrapper_page">
    <filter />
    <main-app heading=input.page_meta products=input.stock text=input.page_text/>
</div>
<footer-app />
<div class="info">
    © 2019 -<a>Privacy Policy</a> - <a>Terms and Conditions</a>
</div>
