.wrapper_page {
    display: flex;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 36px;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 auto;
    color: #828282;
}
.info a {
    cursor: pointer;
    color: #2F80ED;
    &:hover {
        color: #828282;
    }
    &:visited {
        color: #9B51E0;
    }
}