.navbar {
    display: flex;
    align-items: center;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.navbar__list {
    display: flex;
    justify-content: space-between;
    width: 396px;
    height: 19px;
    padding-left: 16px;
    a {
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        color: #8D8D8D;
        &:hover {
            color: #56CCF2; 
        }
    }
}
.navbar__item {
    display: inline-block;
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
    color: #8D8D8D;
}