<div class="wrapper wrapper_breadcrumb">
  <nav>
    <ul class="breadcrumb">
      <for|obj, index| of=input.items>
        <li><a href=`${obj.href}`>${obj.text}</a></li>
      </for>   
    </ul>
  </nav>
</div>
