<div class="footer__social-networks">
    <img src="svg/facebook.svg" alt="facebook">
    <img src="svg/instagram.svg" alt="instagram">
    <img src="svg/twitter.svg" alt="ftwitter">
    <img src="svg/youtube.svg" alt="youtube">
</div>