<nav class="pagination-list">
    <li>
        <pagination-button pageNamber="<" />
    </li>
    <li>
        <pagination-button pageNamber="1" />
    </li>
    <li class="active">
        <pagination-button pageNamber="2" />
    </li>
    <li class="inactive">
        <pagination-button pageNamber=">" />
    </li>  
</nav>